<div class="p-12">
  <div class="header">
    <h1 class="title">Mi Estilo</h1>
  </div>

  <div class="content-grid">
    <!-- Perfil de estilo -->
    <mat-card class="perfil-card">
      <div class="card-header">
        <h2 class="card-title">Perfil de estilo</h2>
        <p class="card-subtitle">Tu estilo personal definido</p>
      </div>

      <div class="card-content">

        <div class="section">
          <h3 class="section-title">Colores frecuentes</h3>
          <div class="chips-container ">
            <div class="bg-violet-100 text-sm py-1 px-3 rounded-full" *ngFor="let color of datos?.coloresFrecuentes" > {{color}} </div>
          </div>
        </div>

        <div class="section">
          <h3 class="section-title">Estilos frecuentes</h3>
          <div class="chips-container">
            <div class="bg-sky-200 text-sm py-1 px-3 rounded-full" *ngFor="let estilo of datos?.estilosFrecuentes" > {{estilo}} </div>
          </div>
        </div>

        <div class="section">
          <h3 class="section-title">Patrones frecuentes</h3>
          <div class="chips-container">
            <div class="bg-stone-200 text-sm py-1 px-3 rounded-full" *ngFor="let patron of datos?.patronesFrecuentes" > {{patron}} </div>
          </div>
        </div>

        <div class="section">
          <h3 class="section-title">Prendas favoritas</h3>
          <div class="chips-container">
            <div class="bg-orange-100 text-sm py-1 px-3 rounded-full" *ngFor="let prenda of datos?.prendasFavoritas?.porTipo | keyvalue"  > {{prenda.key}} </div>
          </div>
        </div>


        <div class="section">
          <h3 class="section-title">Estacion Predeminante</h3>
          <div class="chips-container">
              <p>{{datos?.estacionPredominante}}</p>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- Estadísticas de armario -->
    <mat-card class="estadisticas-card">
      <div class="card-header">
        <h2 class="card-title">Estadísticas de armario</h2>
        <p class="card-subtitle">Distribución de tus prendas</p>
      </div>

      <div class="card-content">
        <div class="estadisticas-list">
          <div class="estadistica-item" *ngFor="let key of datos?.usoEnOutfits | keyvalue">
            <div class="estadistica-info">
              <span class="categoria-name">{{ key.key }}</span>
              <span class="cantidad">{{ key.value }} prenda{{ key.value !== 1 ? 's' : '' }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
