<div class="p-6 sm:p-8 flex flex-wrap gap-3">


  <div
    class="border-2 border-dashed border-[#737A5D] rounded-lg bg-warm-50 hover:bg-warm-100 transition-colors p-8 min-h-[300px] w-full flex items-center justify-center cursor-pointer"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"
  >
    <div class="text-center">
      <div class="mb-4">
        <svg class="w-12 h-12 mx-auto text-[#737A5D]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>
        </svg>
      </div>
      <p class="text-warm-800 font-medium">Arrastra y suelta aquí</p>
      <p class="text-warm-600 text-sm mt-1">o haz clic para seleccionar</p>
    </div>
    <input
      #fileInput
      type="file"
      class="hidden"
      (change)="onFileSelected($event)"
    >
  </div>



<div class="lg:min-w-xs lg:max-w-xs mx-auto" *ngFor="let cloth of clothes" >
  <div class="bg-[#faf7f2] rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">


    <!-- Contenedor de imagen con botones -->
    <div class="relative">
      <!-- Imagen con tamaño fijo y cover -->
      <div class="w-full h-48 sm:h-56 md:h-64 lg:h-72 overflow-hidden">
        <img
          [src]="cloth.urlFoto"
          alt="Camisa blanca"
          class="w-full h-full object-cover"
        >
      </div>

      <!-- Botones de acción en la esquina superior derecha -->
      <div class="absolute top-3 right-3 flex space-x-2">
        <button
          *ngIf="cloth.favorite" (click)="changeFavorite(cloth.id)"
          class="p-2 bg-white/90 backdrop-blur-sm rounded-lg shadow-sm hover:bg-white transition-all duration-200 group"
          data-ripple-dark="true">
          <svg class="w-4 h-4 text-red-500 group-hover:scale-110 transition-transform" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
          </svg>
        </button>
        <button
          *ngIf="!cloth.favorite" (click)="changeFavorite(cloth.id)"
          class="p-2 bg-white/90 backdrop-blur-sm rounded-lg shadow-sm hover:bg-white transition-all duration-200 group"
          data-ripple-dark="true">
          <svg class="w-4 h-4 text-red-black group-hover:scale-110 transition-transform" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
          </svg>
        </button>

        <!-- Botón editar -->
        <button class="p-2 bg-white/90 backdrop-blur-sm rounded-lg shadow-sm hover:bg-white transition-all duration-200 group">
          <svg class="w-4 h-4 text-warm-600 group-hover:scale-110 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
          </svg>
        </button>

        <!-- Botón eliminar -->
        <button class="p-2 bg-white/90 backdrop-blur-sm rounded-lg shadow-sm hover:bg-white transition-all duration-200 group" (click)="delete(cloth.id)">
          <svg class="w-4 h-4 text-gray-500 group-hover:scale-110 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
          </svg>
        </button>
      </div>
    </div>

    <!-- Contenido de la tarjeta -->
    <div class="p-4 sm:p-5 md:p-6">
      <!-- Título del producto -->
      <h3 class="text-lg sm:text-xl font-semibold text-warm-800 mb-3">
        {{cloth.tipo}} {{cloth.color}}
      </h3>

      <!-- Tags/Etiquetas con colores -->
      <div class="flex flex-wrap gap-2 mb-4">
        <span class="px-3 py-1 bg-warm-200 bg-[#e8e1d5] text-stone-800 text-xs sm:text-sm rounded-full font-medium"> {{cloth.estacion}} </span>
        <span class="px-3 py-1 bg-warm-200 bg-violet-100 text-stone-800 text-xs sm:text-sm rounded-full font-medium"> {{cloth.patron}}</span>
        <span class="px-3 py-1 bg-warm-200 bg-sky-100 text-stone-800 text-xs sm:text-sm rounded-full font-medium"> {{cloth.estilo}} </span>
      </div>

    </div>
  </div>
</div>

</div>
